
#root {
  border: 1px solid white;
  border-radius: 15px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


.container__button {
  margin: 2px auto;
  display: block;
  font-size: 1rem;
  min-width: 400px;

}

.answers {
  margin: 0;
  padding: 0;
}

.answers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

}

.item--blue {
  color: lightskyblue;
}

.answer__item--userAnswer {
  padding-left: 8px;
}